---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Button from "../components/Button.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { projectsItems } from "../projectsData";
---

<Layout title="Milderz - Frontend Developer">
	<main>
		<Container backgroundColor="dark">
			<Header />
		</Container>
		<Container backgroundColor="dark">
			<Hero />
		</Container>
		<Container>
			<SectionHeader
				headerTitle="PROJECTS"
				headerSubtitle="Take a look at my work!"
				titleId="projects"
			/>
		</Container>
		<Container>
			<section class="projects">
				{
					projectsItems.map((project) => (
						<ProjectCard projectTitle={project.projectName} />
					))
				}
			</section>
		</Container>
		<Container backgroundColor="dark">
			<SectionHeader
				headerTitle="ABOUT ME"
				headerSubtitle="Get to know more about me"
				titleId="about"
			/>
			<article class="about-text">
				<p>
					I'm passionate about building modern, user-friendly websites and technolgy products.
				</p>
				<p>
					I like working with technologies like <span
						>HTML, CSS, Javascript, Astro, Tailwind</span
					> and <span>React JS</span>.
				</p>
				<p>
					I am currently learning backend development with <span
						>Node.js, Express,</span
					> and <span>SQL</span>, and I am excited to
					expand my skill set to become a full-stack developer.
				</p>
			</article>

			
		</Container>

		<Contact />
	

		<!-- https://res.cloudinary.com/dtu95r8h9/image/upload/e_grayscale/q_auto/milderz-avatar-nobg_p0isgp -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	.about-text {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 4rem;

		span {
			color: var(--accent);
			font-weight: 700;
		}
		p {
			max-width: 60ch;
		}
	}

	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		padding-bottom: 4rem;
		grid-gap: 3rem;
	}
</style>
