---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Container from '../components/Container.astro'
---

<Layout title="Milderz - Frontend Developer">
	<main>
	<Container backgroundColor="dark">
		<Header />
	</Container>
	
	
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		
	}
</style>
