---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Milderz - Frontend Developer">
	<main>
	<Header />
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		
	}
</style>
