---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<Layout title="Milderz - Projects">
	<main>
		<Container backgroundColor="dark">
			<Header />
		</Container>
		
		<Container backgroundColor="dark" >
			<SectionHeader
				headerTitle="PROJECTS"
				headerSubtitle="My work and contributions"
				titleId="projects"
			/>
		</Container>
		
	</main>
</Layout>
