---
const { btnText, color } = Astro.props;
---

<a class="main-btn" href="#">{btnText}</a>

<style>

    .main-btn {
        display: inline-block;
        background-color: var(--accent);
        padding: 1.3rem 1.6rem;
        border-radius: 0.6rem;
        font-size: 1.6rem;
        font-weight: 600;
        transition: all 0.2s ease;
    }

    .main-btn:hover {
        background-color: var(--accent-hover);
        transform: scale(1.075);
    }

</style>