---



---

<footer class="footer">
    <div class="footer-content">
        <p>© 2021, Built with Astro</p>
        <p>Designed by <a href="https://twitter.com/ajcwebdev" target="_blank" rel="noopener">AJC Web Development</a></p>
    </div>
</footer>
<style>
.footer {
    border-top: solid 1px #C2C2C2;
}
    
    
</style>
