---



---

<footer class="footer">
    <div class="footer-content">
        <ul>
            <li>LinkedIn</li>
            <li>GitHub</li>
        
        </ul>
         
        
    </div>
</footer>
<style>
.footer {
    color: #fff;
    border-top: solid 1px #585858;
}
    
    
</style>
