---

---

<header class="main-header">
    <h1>milderz<span>.</span></h1>
    <nav>
        <ul class="links">
            <li class="link">PROJECTS</li>
            <li class="link">ABOUT</li>
            <li class="link">CONTACT</li>
        </ul>
    </nav>
</header>
<style>
	.main-header {
        width: 1168px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.5rem;

    }

    h1 {
        color: var(--white);
        font-size: 2.4rem;

        span {
            color: var(--accent);
        }
    }

    .links {
        display: flex;
        gap: 4.0rem ;

        .link {
            font-size: 1.4rem;
            color: var(--white-text);
            font-weight: 700;
            cursor: pointer;
            background-color: transparent;
            width: 9.9rem;
            height: 3.4rem;
            display: grid;
            place-items: center;
            border-radius: 0.5rem;
            transition: all ease .2s;

            &:hover {
                color: var(--accent);
                background-color: var(--accent-opacity);
            }
            
        }
    }



	
</style>
