---
import Menu from "../../public/menu-alt-02-svgrepo-com.svg";
import CloseIcon from "../../public/close-bold.svg";
import LinkedIn from "../../public/linkedin-round.svg";
import Github from "../../public/github.svg";
import Gmail from "../../public/gmail.svg";
---

<header class="main-header">
  <h1>milderz<span>.</span></h1>
  <nav>
    <ul class="links">
      <li class="link"><a href="#projects">Projects</a></li>
      <li class="link"><a href="#about">About</a></li>
      <li class="link"><a href="#contact">Contact</a></li>
      <!-- <li class="link"><a href="#blog">Blog</a></li> -->
    </ul>
    <ul class="socials">
      <li class="social-link">
      <a href="https://www.linkedin.com/in/milder-navarro-068267216/" target="_blank" rel="noopener noreferrer">
        <LinkedIn height={30} width={30} />
      </a>
      </li>
      <li class="social-link">
      <a href="https://github.com/milderz" target="_blank" rel="noopener noreferrer">
        <Github height={30} width={30} />
      </a>
      </li>
      <li class="social-link">
      <a href="mailto:mzunax@gmail.com">
        <Gmail height={30} width={30} />
      </a>
      </li>
    </ul>
  </nav>
  <Menu class="menu-icon" height={60} width={60} />
  <CloseIcon class="close-bold" height={40} width={40} />
</header>

<script is:inline>
  const menuIcon = document.querySelector(".menu-icon");
  const closeIcon = document.querySelector(".close-bold");
  const nav = document.querySelector("nav");
  const body = document.querySelector("body");
  const links = document.querySelectorAll(".link");

  menuIcon.addEventListener("click", () => {
    nav.classList.add("nav-active");
    closeIcon.classList.add("close-bold-active");
    menuIcon.classList.add("menu-icon-inactive");
    body.style.overflow = "hidden";
  });
  closeIcon.addEventListener("click", () => {
    nav.classList.remove("nav-active");
    closeIcon.classList.remove("close-bold-active");
    menuIcon.classList.remove("menu-icon-inactive");
    body.style.overflow = "auto";
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      nav.classList.remove("nav-active");
      closeIcon.classList.remove("close-bold-active");
      menuIcon.classList.remove("menu-icon-inactive");
      body.style.overflow = "auto";
    });
  });
</script>
<style>
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 800px) {
      position: static;
    }
  }

  h1 {
    flex: 2;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 700;
    span {
      color: var(--accent);
    }
  }

  .links {
    flex: 1;
    display: flex;
    gap: 4rem;

    .link {
      font-size: 1.4rem;
      color: var(--white-text);
      font-weight: 700;
      cursor: pointer;
      background-color: transparent;
      width: 9.9rem;
      height: 3.4rem;
      display: grid;
      place-items: center;
      border-radius: 0.5rem;
      transition: all ease 0.2s;

      &:hover {
        color: var(--accent);
        background-color: var(--accent-opacity);

       
      }

      &:hover a {
        color: var(--accent);
        

       
      }

      @media screen and (max-width: 800px) {
        border-bottom: 1px solid #585858;
        width: 28.8rem;
        padding: 2.8rem 0;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 0;
        transition: none;
        font-weight: 700;
        font-size: 1.4rem;
      }

      a {
        color: var(--white-text);
        width: 100%;
        height: 100%;
        display: grid;

        place-items: center;
       
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  nav {
    @media screen and (max-width: 800px) {
      
      visibility: hidden;
      opacity: 0;
      transition: opacity ease 0.3s;
      position: absolute;
      top: 7.5rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #0e0e0e;
      z-index: 4;
      padding: 2.4rem 0;
    }
  }

  .socials {
    display: none;
    justify-content: center;
    padding: 2.4rem;
    @media screen and (max-width: 800px) {
      display: flex;
      
    }

    .social-link {
      display: grid;
      place-items: center;
      font-size: 1.4rem;
      color: var(--white-text);
      font-weight: 700;
      cursor: pointer;
      background-color: transparent;
      width: 9.9rem;
      height: 3.4rem;
      

      &:hover {
        color: var(--accent);
        background-color: var(--accent-opacity);
        
      }
    }
  }

  .menu-icon {
    display: none;
    @media screen and (max-width: 800px) {
      display: block;
      cursor: pointer;
      z-index: 3;
    }
  }
  .menu-icon-inactive {
    display: none;
  }
  .close-bold {
    display: none;
    z-index: 3;
  }

  .close-bold-active {
    display: block;
  }
  .nav-active {
    visibility: visible;
    opacity: 1;
    
    
  }
</style>
