---
import Button from "./Button.astro";



---

<div class="hero">
 <div class="hero-col1">
    <h2 class="hero-title">Frontend <span>Developer.</span></h2>
    <p class="hero-text">Developing modern websites that help businesses to grow 🚀</p>
    <div class="hero-col1-btns">
        <Button btnText="Let's talk!"/>
        <Button btnText="Download resume"/>
    </div>
 </div>
 <div class="hero-col2">
  
    <img height="459px" class="hero-avatar" src="/milderz-avatar-nobg.png" alt="" srcset="">
 </div>
</div>
<style>
	.hero {
        height: 45.9rem;
        display: flex;
        justify-content: space-between;
    }
    .hero-col1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4.2rem;
    }

    .hero-title {
        font-size: 8.2rem;
        font-weight:  900;
        color: var(--accent);
        width: 9ch;
        line-height: 90%;

        span {
            color: #F5FFCB;
        }
        
    }

    .hero-text {
        font-size: 2rem;
        color: var(--white-text);
        font-weight: 500;
        max-width: 35ch;
    }
    .hero-col1-btns {
        display: flex;
        gap: 1.6rem;
    }

    .hero-avatar {
        filter: grayscale();
        
    }



    .hero-col2 {
        position: relative;
    }
</style>
