---
import Button from "./Button.astro";



---

<div class="hero">
 <div class="hero-col1">
    <h2 class="hero-title">Frontend <span>Developer.</span></h2>
    <p class="hero-text">Developing modern websites that help businesses to grow 🚀</p>
    <div class="hero-col1-btns">
        <Button btnText="Lets talk!" link="#contact"/>
        <Button btnText="Download resume"/>
    </div>
 </div>
 <div class="hero-col2">
  
    <img height="389px" class="hero-avatar" src="https://res.cloudinary.com/dtu95r8h9/image/upload/e_background_removal/f_png/v1749396016/milderz-avatar_p7sc6u.png" alt="" srcset="">
 </div>
</div>
<style>
	.hero {
        display: none;
        height: 45.9rem;
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 920px) {
            flex-direction: column-reverse;
            height: 60.9rem;
            justify-content: center;
            align-items: center;
        }

        
     }
      
    

    .hero::after {
       
        content: '';
        background-image: url('/Grid\ layers\ -\ v3.png');
        width: 100%;
        height: 53.4rem;
        
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        mask-image: radial-gradient(circle, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 100%);
    }
    .hero-col1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4.2rem;
        z-index: 3;
        position: relative;
        @media screen and (max-width: 920px) {
          
            text-align: center;
            align-items: center;
            top: -70px;
            
        }
    }

    .hero-title {
        font-size: 8.2rem;
        font-weight:  900;
        color: var(--accent);
        width: 9ch;
        line-height: 90%;

        span {
            color: #F5FFCB;
        }
    
        @media screen and (max-width: 1024px) {
            font-size: 6.2rem;

        
     }

     @media screen and (max-width: 460px) {
            font-size: 4.6rem;
            
        
     }
    }

    .hero-text {
        font-size: 2rem;
        color: var(--white-text);
        font-weight: 500;
        max-width: 35ch;
    }
    .hero-col1-btns {
        display: flex;
        gap: 1.6rem;
        
    }

    .hero-avatar {
        filter: grayscale();
        position: relative;
        z-index: 2;
        
        
        @media screen and (max-width: 920px) {
            
            height: 300px;
        
     }
     @media screen and (max-width: 460px) {
           
            
            
        
     }
        
    }



    .hero-col2 {
        position: relative;
        display: flex;
        align-items: flex-end;
    }
</style>
