---


---

<div class="hero">
 <div class="hero-col1">
    <h2 class="hero-title">Frontend Developer.</h2>
    <p class="hero-text">Developing modern websites that help businesses to grow.</p>
    <div class="hero-col1-btns">
        <button>Let's talk!</button>
        <button>Download CV</button>
    </div>
 </div>
 <div class="hero-col2"></div>
</div>
<style>
	.hero {
        height: 57.9rem;
    }

    .hero-title {
        font-size: 8.2rem;
        /* font-weight:  600; */
        color: var(--accent);
        width: 9ch;
        line-height: 90%;
        font-family: 'InterBold';
    }

    .hero-text {
        font-size: 2rem;
        color: var(--white-text);
    }
</style>
