---
const { headerTitle, headerSubtitle, titleId } = Astro.props;


---
<header class="section-header">
<h4 id={titleId} class="sectionHeaderTitle">{headerTitle}</h4>
<h3 class="sectionHeaderSubtitle">{headerSubtitle}</h3>
</header>

<style>

    .section-header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 7.2rem 0;
        @media screen and (max-width: 484px) {
          padding: 4.6rem 0;
          
        
    }
    }

.sectionHeaderTitle {
    color: var(--accent);
    font-size: 1.1rem;
    font-weight: 700;
    /* width: 17rem; */
    padding: 0.2rem 0.8rem;
    width: max-content ;
    border-radius: 4px;
    background-color: var(--accent-opacity);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 484px) {
          font-size: 1.4rem;
          
        
    }
}
.sectionHeaderSubtitle {
    color: var(--white-text);
    font-size: 4.1rem;
    font-weight: 700;

    @media screen and (max-width: 484px) {
          font-size: 2.8rem;
          
        
    }
}
</style>