---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
		font-family: "InterBold";
		src: url("/public/fonts/Inter_28pt-Black.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Inter";
		src: url("/public/fonts/Intervariable.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--white: #ffffff;
		--accent: #d6fb41;
		--white-text: #f0f0f0;
		--accent-opacity: hsl(72, 72%, 56%, 28%);
		--black-bg: #0e0e0e;
		--gray-bg: #1d1d1d;
	}
	html {
		font-family: "Inter";
		font-size: 62.5%;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: var(--white);
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
</style>
